@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	background-color: #f5f5f5;
}
a {
	text-decoration: none;
	color: inherit;
}
.chartslist {
	width: 100%;
	max-width: 420px;
	min-height: 300px;
	margin: 0 auto;
	margin-top: 40px;
	background-color: #00121c;
	color: #fff;
	padding: 15px;
	display: block;
}
.chartslist .list {
	padding: 10px;
	border-bottom: 1px dotted #ececec;
}
.chartslist .list .title {
	font-weight: normal;
}
.chartslist .list .subtitle {
	font-size: 10px;
}
.chartslist .list .subtitle.green {
	color: #34b71f;
}
.chartslist .list .subtitle.red {
	color: #f3392f;
}

.chartdetail .list {
	border: none;
	background-color: #1686b0;
	min-height: 60px;
}
.chartdetail .criteria {
	padding: 0 10px;
	margin-bottom: 10px;
}
.chartdetail .criteria .title {
	margin: 10px 0;
}
.chartdetail .criteria .subtitle {
	font-size: 10px;
}
.chartdetail .criteria a {
	color: #337ab7;
}

.chartvariable .title {
	font-size: 14px;
	font-weight: bolder;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.chartvariable .subtitle {
	font-size: 14px;
	margin-bottom: 10px;
}
.chartvariable .indicator {
	background-color: #fff;
	min-height: 60px;
	font-size: 14px;
	padding: 10px;
}
.chartvariable .indicator div {
	float: left;
	color: #333333;
}
.chartvariable .indicator input {
	float: right;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	width: 50%;
}
